.display-1{
    background-color: rgb(57, 191, 57);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: bold;
}
.text{
    text-align :center;
    font-size: 30px;
    padding-bottom: 10px;
}
.bottom{
    text-align: center;
    padding-top: 15px;
}
.button{
    padding-top: 10px;
}
.container1{
    float:left;
    padding-left: 50px;
    padding-top:10px;
}
.container2{
    float:right;
    padding-right:300px;
    padding-top: 50px;
}